<!--<div class="ui-grid-row" style="margin: 10px 0px">
  <div class="ui-grid-col-6">
    Request type name
  </div>
  <div class="ui-grid-col-6">
    <input style="height: 100%;" pInputText type="text" [(ngModel)]="storeLocationData.StoreFullName" />
  </div>
</div>-->
<p-panel header="">
   <h1>Client</h1>
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <label for="name">Client Name</label>
        <input type="text" [(ngModel)]="clientItem.clientName" class="form-control">
      </div>
      <div class="form-group">
        <label for="name">Client Acronym</label>
        <input type="text" maxlength="3"   style="text-transform:uppercase" [(ngModel)]="clientItem.clientAcronym" class="form-control">
      </div>
      <div class="form-group">
        <label for="name">Description</label>
        <input type="text" [(ngModel)]="clientItem.description" class="form-control">
      </div>
      <div class="form-group" *ngIf="clientItem.id != 0">
        <label for="name">Enabled?</label>
        <p-checkbox binary="true" [(ngModel)]="clientItem.enabled"></p-checkbox>
      </div>
      <!--<div class="form-group">
        <label for="name">Login Enabled</label>
        <p-checkbox [(ngModel)]="clientItem.loginEnabled" binary="true"></p-checkbox>
      </div>
      <div *ngIf="clientItem.loginEnabled == true">
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" [(ngModel)]="clientItem.userName" class="form-control">
        </div>
        <div class="form-group">
          <label for="name">User Email Id.</label>
          <input type="email"  [(ngModel)]="clientItem.userEmail" class="form-control">
        </div>
      </div>-->
      <button class="btn btn-primary" type="button" (click)="saveClient()">{{btnText}}</button>
      <button class="btn btn-primary" type="button" (click)="Cancel()">Cancel</button>
    </div>
  </div>
  <div class="col-lg-8"></div>
</p-panel>